html {
    height: 100%;
    background: hsl(0, 0%, 20%);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}

/* Loader ------------------------ */
/* Loader -------------------------------------------- */

.Loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: -webkit-flex;
    display: flex;
}
.Loader-logo {
    display: block;
    margin: auto;
    width: 64px;
    height: 64px;
    background: url(../images/logo.svg) no-repeat center center;
    background-size: 100% auto;
    -webkit-animation: Loader--animate 3.6s linear infinite;
    animation: Loader--animate 3.6s linear infinite;
}

@-webkit-keyframes Loader--animate { 100% { -webkit-transform: rotate(360deg); } }
@keyframes Loader--animate { 100% {         transform: rotate(360deg); } }
